# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

**\Debug
**\Release 
.xdchelp
\.config
\.launches
/christmas-tree/targetConfigs/Tiva TM4C123GE6PM.ccxml
/christmas-tree/targetConfigs/readme.txt
/christmas-tree/Debug/makefile
/christmas-tree/Debug/objects.mk
/christmas-tree/Debug/sources.mk
/christmas-tree/Debug/subdir_rules.mk
/christmas-tree/Debug/subdir_vars.mk
/christmas-tree/Debug/ccsObjs.opt
/christmas-tree/Debug/christmas-tree_linkInfo.xml
**/targetConfigs/
Debug
